.product-container {
  width: 800px;
  padding-left: 20px;
}

.product-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

.card {
  width: 170px;
  height: 250px;
  padding: 10px;
  margin: 15px;
}

.card img {
  margin: auto;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
